@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
:root {
    --base-clr: #242038;
    --line-clr: #8d86c9;
    --hover-clr: #725AC1;
    --text-clr: #F7ECE1;
    --accent-clr: #ffb42d;
    --secondary-text-clr: #CAC4CE;
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 10px;
}
body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
}
.mainForm {
    border: solid 2px var(--line-clr);
    border-radius: 24px;
    margin: 10%;
    padding: 25px;
    align-items: baseline;
}

input[type=text] {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
}
  
input[type=text]:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

input[type=button] {
    background-color: var(--base-clr);
    border-radius: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 7px;
    border-color: var(--line-clr);
    color: var(--secondary-text-clr);
    box-shadow: var(--line-clr) 3px 3px 5px;
    width: 110px;
    margin: 3px;
}
input[type=button]:hover {
    color: var(--base-clr);
    width: 130px;
    background-color: var(--secondary-text-clr);
}
input[type=button]:active {
    position: relative;
    padding: 5px;
}
