@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-image: linear-gradient(0deg, #000000 0%, #c77dff 100%);
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
}

div {
    background-color: #fff;
    border: 1px solid #000000;
    padding: 10px;
    margin: auto;
    border-radius: 17px;
    width: 30%;
}

input {
    border-radius: 10px;
    border: 0;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
}
  
input:focus {
    outline-offset: 5px;
    background-color: #fff
}

button {
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #181717;
    border-radius: 5px;
    border: 1px solid #181717;
    cursor: pointer;
    transition: 400ms;
    color: white;
}
  
button svg path {
    transition: 400ms;
}
  
button:hover {
    background-color: transparent;
    color: #181717;
}

button:hover svg path {
    fill: #181717;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 0.8rem;
}